<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Vehicle Count Logs</title>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="http://{{ip_address}}:8000/my-url/">iTWatcher</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Logout</a>
                </li>    
                <!-- Add more links for other views here -->
            </ul>

            
        </div>
    </nav>

    <table class="table table-bordered table-sm table-responsive-sm">
        <tr>
            <th class="text-center">Timestamp</th>
            <th class="text-center">Filename</th>
            <th class="text-center">Total Count</th>
            <th class="text-center">Going North</th>
            <th class="text-center">Going West</th>
            <th class="text-center">Going East</th>
            <th class="text-center">Going South</th>
            <th class="text-center">Class Counts</th>
            <th class="text-center">Analytics</th>
        </tr>
        {% for log in vehicle_logs %}
        <tr>
            <td class="text-center">{{ log.timestamp }}</td>
            <td class="text-center">{{ log.filename }}</td>
            <td class="text-center">{{ log.total_count }}</td>
            <td class="text-center">{{ log.hwy_count }}</td>
            <td class="text-center">{{ log.msu_count }}</td>
            <td class="text-center">{{ log.sm_count }}</td>
            <td class="text-center">{{ log.oval_count }}</td>
            <td class="text-center">
                <ul>
                {% for class_name, class_count in log.class_counts.items %}
                    <li>{{ class_name }}: {{ class_count }}</li>
                {% endfor %}
                </ul>
            </td>
            <td class="text-center">
                <a href="{% url 'vehicle_count_graph' log.timestamp.date log.id %}" class="btn btn-primary">View</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
