<!DOCTYPE html>
<html>
<head>
    <title>iTWATCHER API</title>
    <!-- Add your CSS and JS files here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        #video-container {
            position: relative;
            width: 1200px;  /* Set to your desired width */
            height: 700px; /* Set to your desired height */
            overflow: hidden;
        }

        #video-container img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="http://{{ip_address}}:8000/my-url/">iTWatcher</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'violation' %}">View Violation Logs</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Logout</a>
            </li>
            <!-- Add more links for other views here -->
        </ul>
    </div>
</nav>

<div class="container mt-4 ml-5">
    <h2>Violation Detection</h2>
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data" id="vio-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <label for="selection">Choose Input Type:</label>
                        <select name="selection" id="selection" class="form-control">
                            <option value="video-path">Video File</option>
                            <option value="directory-path">Videos in Database</option>
                            <option value="camera-feed">Camera Feed URL</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3" id="video-path-input">
                    <div class="col-md-12">
                        <label for="video_path">Video file:</label>
                        <select name="video_path" id="video_path" class="form-control">
                            {% for video in videos %}
                                <option value="{{ video.id }}">{{ video.file.path }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mt-3" id="directory-path-input" style="display: none;">
                    <div class="col-md-12">
                        <label for="directory_path">Videos in Database:</label>
                        <textarea readonly name="directory_path" id="directory_path" class="form-control" style="height: 100px; white-space: pre-wrap; word-wrap: break-word; padding: 10px;">
                            {% for video in videos %}
                                {{ video.file.path }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </textarea>
                    </div>
                </div>  
                <div class="row mt-3" id="camera-feed-input" style="display: none;">
                    <div class="col-md-12">
                        <label for="livestream_url">Live stream URL:</label>
                        <input type="text" name="livestream_url" id="livestream_url" class="form-control">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="violation_type">Model Type:</label>
                        <select name="vio_type" id="violation_type" class="form-control">
                            <option value="redlight">Beating the Red Light</option>
                            <option value="pedestrian_block">Blocking Pedestrian</option>
                            <option value="speeding">Overspeeding</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <!-- Checkbox to control the display of frames -->
                        <label for="show-display">Show Display</label>
                        <input type="checkbox" id="show-display" name="show_display">
                    </div>
                    <div class="col-md-12">
                        <input type="submit" value="Process" class="btn btn-primary">
                    </div>
                    <div id="processing-message" style="display:none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); color: white; text-align: center; padding-top: 20%; font-size: 24px; z-index: 9999;">
                        Please do not refresh the page or perform any other actions in this tab while processing the video...
                    </div> 
                    <div id="processing-message" style="display: none; text-align: center; margin-top: 20px; font-size: 20px; color: green;">
                        Processing Finished! The page will refresh shortly.
                    </div>
                                       
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div id="video-container" class="text-right">
                <!-- Video container content -->
                <!-- Ensure no fixed width is applied here -->
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        console.log("Document is ready");

        document.getElementById('vio-form').addEventListener('submit', function(event) {
            event.preventDefault();
            console.log("Form submission intercepted.");

            // Show the processing message
            document.getElementById('processing-message').style.display = 'block';

            var formData = new FormData(this);
            var selectedOption = document.getElementById('selection').value;
            var selectedAction = document.getElementById('violation_type').value;
            var showDisplay = document.getElementById('show-display').checked;  // Get checkbox state

            if (selectedOption === 'video-path') {
                formData.delete('livestream_url');
                formData.delete('directory_path');
            } else if (selectedOption === 'directory-path') {
                formData.delete('video_path');
                formData.delete('livestream_url');

                // Convert the textarea content into an array (assuming videos is a space-separated list of paths)
                var videoPaths = document.getElementById('directory_path').value.split('\n').map(function(path) {
                    return path.trim();  // Make sure there are no extra spaces
                });

                // Append the array of video paths to the form data
                formData.append('video_files', JSON.stringify(videoPaths));  // Send as a JSON string
            } else if (selectedOption === 'camera-feed') {
                formData.delete('video_path');
                formData.delete('directory_path');
            }
            
            formData.append('show_display', showDisplay);  // Append it to the form data

            var actionUrl = '';
            if (selectedAction === 'redlight') {
                actionUrl = 'http://{{ip_address}}:8000/tracking/redlight/';
            } else if (selectedAction === 'pedestrian_block') {
                actionUrl = 'http://{{ip_address}}:8000/tracking/blocking/';
            } else if (selectedAction === 'speeding') {
                actionUrl = 'http://{{ip_address}}:8000/tracking/speeding/';
            }

      
            console.log("Sending AJAX request to:", actionUrl);

            fetch(actionUrl, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.body;
            })
            .then(body => {
                const reader = body.getReader();
                const decoder = new TextDecoder("utf-8");
                const videoContainer = document.getElementById('video-container');

                // Create three img elements for triple-buffering
                let imgElement1 = document.createElement('img');
                let imgElement2 = document.createElement('img');
                let imgElement3 = document.createElement('img');
                imgElement1.style.opacity = 1;
                imgElement2.style.opacity = 0;
                imgElement3.style.opacity = 0;
                videoContainer.appendChild(imgElement1);
                videoContainer.appendChild(imgElement2);
                videoContainer.appendChild(imgElement3);

                let currentImageElement = imgElement1;
                let nextImageElement = imgElement2;
                let thirdImageElement = imgElement3;

                let frameBuffer = '';
                let frameStarted = false;

                function updateFrame(frameData) {
                    thirdImageElement.style.opacity = 0;
                    thirdImageElement.onload = () => {
                        currentImageElement.style.opacity = 0;
                        nextImageElement.style.opacity = 0;
                        thirdImageElement.style.opacity = 1;

                        // Swap the current and next image elements
                        [currentImageElement, nextImageElement, thirdImageElement] = [nextImageElement, thirdImageElement, currentImageElement];
                    };

                    if (showDisplay) {  // Only display if checkbox is checked
                        thirdImageElement.src = `data:image/jpeg;base64,${frameData}`;
                    } else {
                        imgElement.style.display = 'none';  // Hide if not showing
                    }
                }

                function read() {
                    reader.read().then(({ done, value }) => {
                        if (done) {
                            console.log('Stream complete');
                            // Display "Processing Finished" message
                            document.getElementById('processing-message').style.display = 'block';

                            // Refresh the page after 3 seconds
                            setTimeout(function() {
                                location.reload();  // Refresh the page
                            }, 3000);  // Wait for 3 seconds before refreshing
                            return;
                        }

                        const chunk = decoder.decode(value, { stream: true });

                        frameBuffer += chunk;

                        let frameStart = frameBuffer.indexOf('data: ');
                        let frameEnd = frameBuffer.indexOf('\n\n', frameStart);

                        while (frameStart !== -1 && frameEnd !== -1) {
                            const frameData = frameBuffer.substring(frameStart + 6, frameEnd);
                            updateFrame(frameData);

                            frameBuffer = frameBuffer.substring(frameEnd + 2);

                            frameStart = frameBuffer.indexOf('data: ');
                            frameEnd = frameBuffer.indexOf('\n\n', frameStart);
                        }

                        read();
                    });
                }

                read();
            })
            .catch(error => {
                console.error('AJAX error:', error);
                alert("An error occurred: " + error);
            });
            });

            document.getElementById('selection').addEventListener('change', function() {
            console.log("Selection changed");
            var selectedOption = this.value;
            if (selectedOption === 'video-path') {
                document.getElementById('video-path-input').style.display = 'block';
                document.getElementById('directory-path-input').style.display = 'none';
                document.getElementById('camera-feed-input').style.display = 'none';
            } else if (selectedOption === 'directory-path') {
                document.getElementById('video-path-input').style.display = 'none';
                document.getElementById('directory-path-input').style.display = 'block';
                document.getElementById('camera-feed-input').style.display = 'none';
            } else if (selectedOption === 'camera-feed') {
                document.getElementById('video-path-input').style.display = 'none';
                document.getElementById('directory-path-input').style.display = 'none';
                document.getElementById('camera-feed-input').style.display = 'block';
            }
        });
        // Add key event listener for traffic light control
        document.addEventListener('keydown', function(event) {
            var selectedAction = document.getElementById('violation_type').value;

            if (selectedAction === 'redlight') {
                var color = null;
                if (event.key === 'r' || event.key === 'R') {
                    color = 'red';
                    console.log("R key pressed");
                } else if (event.key === 'y' || event.key === 'Y') {
                    color = 'yellow';
                    console.log("Y key pressed");
                } else if (event.key === 'g' || event.key === 'G') {
                    color = 'green';
                    console.log("G key pressed");
                }

                if (color) {
                    console.log("Changing traffic light state to:", color);

                    fetch('http://{{ip_address}}:8000/control-traffic-light/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                        },
                        body: JSON.stringify({ color: color })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            console.log("Traffic light state changed to:", data.current_light_state);
                        } else {
                            console.log("Error changing traffic light state:", data.error);
                        }
                    })
                    .catch(error => {
                        console.error('Error changing traffic light state:', error);
                    });
                }
            }
        });
    });
</script>


</body>
</html>